body{
    width: 100%;
    margin:0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.nav-bar{
    background-color: rgba(42, 42, 43, .35);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.logo{
    height:52px;
    width:68px;
    margin:2px 0 0 0;
}

.nav-list{
    float:right;
}

.list-item a:hover {
  background-color: #C9C9C9;
  color: black;
}

.list-item{
    list-style-type: none;
    margin:0;
    float:left;
}

.nav-item {
  color: #FFFFFF;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
  font-size: 20px;
}

.active{
  background-color: #E51B4C;
  color: #FFFFFF;
}

.banner{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 59px;
}
.banner-img{
    width:100%;
    height: 500px;
}

.banner-text{
    /* background-color: #2B2B2A; */
    height: 100px;
    width: 300px;
    color: #FFFFFF;
    position: absolute;
    top: 160px;
    left: 25%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px;
    text-transform: none;
    white-space: nowrap;
    /* text-shadow: lightslategrey 2px 2px;
    box-shadow: lightslategrey 2px 2px; */
    /* border-radius: 5px; */
}

.banner h1{
    margin-top: 30px;
}

.main-section{
    height: 550px;
    width: 100%;
    position:relative;
    margin-left: 32%;
    margin-top: 
    text-align: center;
}

.col{
    height: 500px;
    width:32%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border: 3px black;
    position: relative;
    text-align: center;
}

.spoiler{
    height: 300px;
    margin-left: auto;
}


h2{
    color: #2B2B2A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

h3{
    color: #2B2B2A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;  
}

p1{
    color: #2B2B2A;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.footer{
    height:60px;
    width: 100%;
    background-color:rgba(42, 42, 43, .35);
    position: relative;
    display: block;
}

.input, .social{
    float: left;
    width:32%;
    text-align: center;
    color: white;
}

.copy{
    float: left;
    width: 32%;
    color: white;
    text-align: center;
    }

.input input, .input button, .social a{
    display: inline-block;
    margin-top: 15px;
}

.fab, .fa-twitter{
    color: #1da1f2;
    }

.social a:hover{
    background-color: lightgray;
    z-index: 2;
    }
    

/*******End of Index Styles***********/

/******** About Styles *************/
.about-text{
    height: 100px;
    width: 300px;
    color: #2B2B2A;
    position: absolute;
    display: block;
    top: 69px;
    left: 18%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-transform: none;
    white-space: nowrap;
}
.col-container{
    height:650px;
    width: 100%;
    margin-top: 170px;
    margin-bottom: 20px;
}

.columns{
    width: 30%;
    height: 650px;
    border: 3px #2B2B2A;
    float: left;
    padding: 15px 10px;
    margin-left: 20px;
    overflow: hidden;
}

.col-img{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

p2{
    text-decoration: none;
}

.audio-col{
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.audio{
    display: block;
    margin-top: 125px;
    text-align: center;
}

.col-video{
    display: block;
    width: 100%;
    padding: 1px;

}


/*******Contact Styles*********/

.contact-header{
    height: 100px;
    width: 200px;
    color: #2B2B2A;
    /* position: absolute; */
    margin-top: 80px;
    margin-left: 32%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 69px;
    text-transform: none;
    white-space: nowrap;
    /* background-color: #2B2B2A;
    height: 100px;
    width: 200px;
    color: #FFFFFF;
    /* position: absolute; */
    /* top: 60px; */
    /* margin: auto;
    margin-top: 70px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: lightslategrey 2px 2px;
    box-shadow: lightslategrey 2px 2px;
    border-radius: 5px; */ */
}

.container{
    height: 800px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: auto;
}

.contact-col{
    float: left;
    margin-left: 10px;
    margin-right: auto;
   
}

.map{
    margin-top:50px;
}